[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci || npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"

[variables]
NPM_CONFIG_PRODUCTION = "false"
NIXPACKS_NO_WORKSPACE = "1"
